.col-md-7{
margin-top: 20px;
}
img{
    border-radius: 10px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
ul li a {
    color: #666;
    text-decoration: none;
}
ul li a:hover {
    text-decoration: none;
}

/* 设置container宽度为1280 */
@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

header{
    padding-left: 0!important;
}

.logo img{
    max-width: 100%;
}

.nav{
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    border-radius: 10px
}

.nav a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 13px;

}

.nav a:hover{
    background-color: #fff;
    color: #ff0000;
	
}
.nav a::before{
    vertical-align: middle;
    padding-right: 5px;
}

.news li{
    width: 25%;
    float: left;
    height: 171px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.news li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #eee;
    text-align: center;
    position: relative;
    border-radius: 10px;
	text-decoration: none;
   
}

.news li img{
    width:100%;
    border-radius: 10px;
    
}

.news li:nth-child(1){
    width: 50%;
    height: 352px;
   
    /* background-color: rebeccapurple; */
}

.news li a p{
   position: absolute;
   bottom: 0;
   left: 0;
   height: 41px;
   margin-bottom: 0px;
   bottom: 1px;
   background-color: rgba(0, 0, 0, .5);
   font-size: 10px;
   font-weight: 100;
   color: #fff;
   width: 100%;
   border-radius: 10px;
   line-height: 41px;

}


.publish .row{
    display: block;
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
   
}


.publish .row:hover{
    background-color: #bbb;
    transform: translateY(-3px);
    box-shadow:1px 3px 9px #fff;
}

.news ul li img{
    transition: 0.3s ease-in-out;

}

.news ul li img:hover{
    transform: translateY(-3px);
    box-shadow:1px 3px 9px #fff;
}

.v{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; 
    width: auto;
    height: auto; 
    z-index: -100;
    /* backdrop-filter: blur(50px);  */
    /* //添加灰度蒙版，如果设定为100%则视频显示为黑白 */
    opacity: 0.4;
    filter:sepia(100%)
}


.tu div{
    margin-top: 20px;
}

		.card{
		    flex: 1;
		    flex-basis: 300px;
		    flex-grow: 0;
		    height: 440px;
		    background: #fff;
		    border: 2px solid #fff;
		    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
		    cursor: pointer;
		    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
		    overflow: hidden;
		    position: relative;
		}
		.card img{
		    width: 100%;
		    height:100%;
		    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
		}
		.descriptions{
		    position: absolute;
		    top:0px;
		    left:0px;
		    background-color: rgba(255,255,255,.7);
		    width:100%;
		    height:100%;
		    transition: all .7s ease-in-out;
		    padding: 20px;
		    box-sizing: border-box;
		    clip-path: circle(0% at 100% 100%);
		}
		.card:hover .descriptions{
		    left:0px;
		    transition: all .7s ease-in-out;
		    clip-path: circle(75%);
		}
		.card:hover{
		    transition: all .5s cubic-bezier(.8,.5,.2,1.4);//画布遮罩效果
		    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
		    transform: scale(.97);
		}
		.card:hover img{
		    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
		    transform: scale(1.6) rotate(20deg);
		    filter: blur(3px);
		}
		.card h1{
		    color: #ff3838;
		    letter-spacing: 1px;
		    margin: 0px;
		}
		.card p{
		    line-height: 24px;
		    height: 70%;
		}
		.card button{
		    width: fit-content;
		    height: 40px;
		    cursor: pointer;
		    border-style: none;
		    background-color: #ff3838;
		    color:#fff;
		    font-size: 15px;
		    outline: none;
		    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
		    transition: all .5s ease-in-out;
		}
		.card button:hover{
		    transform: scale(.95) translateX(-5px);
		    transition: all .5s ease-in-out;
		}
		
		/*  footer   */
		footer {
		    background-color: #222;
		    color: #fff;
		    font-size: 14px;
		    bottom: 0;
		    position: fixed;
		    left: 0;
		    right: 0;
		    text-align: center;
		    z-index: 999;
		}
		
		footer p {
		    margin: 10px 0;
		footer .fa-heart{
		    color: red;
		}
		footer .fa-dev{
		    color: #fff;
		}
		footer .fa-twitter-square{
		  color:#1da0f1;
		}
		footer .fa-instagram{
		  color: #f0007c;
		}
		fotter .fa-linkedin{
		  color:#0073b1;
		}
		footer .fa-codepen{
		  color:#fff
		}
		footer a {
		    color: #3c97bf;
		    text-decoration: none;
		  margin-right:5px;
		}
		.youtubeBtn{
		    position: fixed;
		    left: 50%;
		  transform:translatex(-50%);
		    bottom: 45px;
		    cursor: pointer;
		    transition: all .3s;
		    vertical-align: middle;
		    text-align: center;
		    display: inline-block;
		}
		.youtubeBtn i{
		   font-size:20px;
		  float:left;
		}
		.youtubeBtn a{
		    color:#ff0000;
		    text-shadow: 0px 2px 5px rgba(0,0,0,.5);
		    animation: youtubeAnim 1000ms linear infinite;
		  float:right;
		}
		.youtubeBtn a:hover{
		  color:#c9110f;
		  transition:all .3s ease-in-out;
		  text-shadow: none;
		}
		.youtubeBtn i:active{
		  transform:scale(.9);
		  transition:all .3s ease-in-out;//慢速结束的过渡效果
		}
		.youtubeBtn span{
		    font-family: 'Lato';
		    font-weight: bold;
		    color: #fff;
		    display: block;
		    font-size: 12px;
		    float: right;
		    line-height: 20px;
		    padding-left: 5px;
		  
		}
		
		@keyframes youtubeAnim{
		  0%,100%{
		    color:#c9110f;
		  }
		  50%{
		    color:#ff0000;
		  }
		}
		/* footer  */
		
		